.buttons {
  margin: 32px auto;
}

.primarybutton {
  padding: 12px 20px;
  background: var(--ctc);
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--verde);
  cursor: pointer;
}

.primarybutton:hover {
  color: var(--white);
}

.alumni {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media (max-width: 800px) {
  .alumni {
    grid-template-columns: 1fr;
  }
}
