.accordion {
  display: flex;
  flex-direction: column;
}

.question {
  background-color: var(--white);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  padding: 20px 18px;
  text-align: left;
}

.questionRow {
  font-weight: 700;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
}

.questionPlus {
  margin-left: 12px;
}

.answer {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.12px;
  color: var(--accents-3);
  background-color: var(--white);
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  padding: 12px 0px 20px;
}
