.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--accents);
  text-decoration: none;

  margin-left: 2px;
}

.link:hover {
  color: var(--ctc);
}

.link:active {
  color: var(--ctc);
}
