@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400 600 700 800;
  src: url(https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSvfedN4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --white: #ffffff;
  --bg: #f4f1f0;
  --gray: #d6d6d6;
  --fg: #38473e;
  --ctc: #4ccd87;
  --indent: #43b878;
  --verde: #9df2ba;
  --accent: #611a16;
  --rojo: #ad0c05;

  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #888;
  --geist-foreground: #000;

  --radius: 8px;

  --font-sans: 'Manrope', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--bg);
  font-family: var(--font-sans);
  color: var(--fg);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #000;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.4em;
  tab-size: 4;
  hyphens: none;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.string,
.token.attr-value {
  color: #028265;
}
.token.punctuation,
.token.operator {
  color: #000;
}
.token.url,
.token.symbol,
.token.boolean,
.token.variable,
.token.constant {
  color: #36acaa;
}
.token.atrule,
.language-autohotkey .token.selector,
.language-json .token.boolean,
code[class*='language-css'] {
  font-weight: 600;
}
.language-json .token.boolean {
  color: var(--geist-success);
}
.token.keyword {
  color: #ff0078;
  font-weight: bolder;
}
.token.function,
.token.tag,
.token.class-name,
.token.number,
.token.tag .token.punctuation {
  color: var(--geist-success);
}
.language-autohotkey .token.tag {
  color: #9a050f;
}
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.deleted {
  color: red;
  font-weight: bolder;
}
.token.inserted {
  color: var(--geist-success);
  font-weight: bolder;
}
.language-json .token.property,
.language-markdown .token.title {
  color: #000;
  font-weight: bolder;
}
.language-markdown .token.code {
  color: var(--geist-success);
  font-weight: normal;
}
.language-markdown .token.list,
.language-markdown .token.hr {
  color: #999;
}
.language-markdown .token.url {
  color: #ff0078;
  font-weight: bolder;
}
.token.selector {
  color: #2b91af;
}
.token.property,
.token.entity {
  color: #f00;
}
.token.attr-name,
.token.regex {
  color: #d9931e;
}
.token.directive.tag .tag {
  background: #ff0;
  color: #393a34;
}
/* dark */
pre.dark[class*='language-'] {
  color: #fafbfc;
}
.language-json .dark .token.boolean {
  color: var(--geist-success);
}
.dark .token.string {
  color: #50e3c2;
}
.dark .token.function,
.dark .token.tag,
.dark .token.class-name,
.dark .token.number {
  color: #2ba8ff;
}
.dark .token.attr-value,
.dark .token.punctuation,
.dark .token.operator {
  color: #efefef;
}
.dark .token.attr-name,
.dark .token.regex {
  color: #fac863;
}
.language-json .dark .token.property,
.language-markdown .dark .token.title {
  color: #fff;
}
.language-markdown .dark .token.code {
  color: #50e3c2;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 420px;
  max-width: calc(100vw - var(--gap-double));
}

.feature {
  flex: 0 0 25%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 1.5rem;
  margin: 0 auto;
}

.feature h4 {
  margin: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .features {
    max-width: 240px;
  }
  .feature div {
    flex-basis: auto;
    padding-left: 0;
  }

  .feature h4 {
    font-size: 0.9rem;
  }
}

figure {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

figure {
  font-size: 0.85rem;
  color: #999;
}

.links {
  margin-top: var(--gap);
}

mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  line-height: 2;
  margin-top: 4rem;
  margin-bottom: 1rem;
  letter-spacing: -0.89px;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.33px;
}

h5 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.33px;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.33px;
}

.video {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}
.video :global(video) {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

p {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  outline: none;
  color: var(--fg);
  text-decoration: none;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  letter-spacing: -2px;
}

img {
  border-radius: 8px;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--gray);
}

pre {
  white-space: pre;
}
pre :global(code) {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

ul {
  margin-left: 16px;
}

code {
  font-size: 0.8rem;
  background: #f1f1f1;
  padding: 0.2rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
}

.slice {
  position: relative;
}

.slice::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 130%;
  background: #fff;
  transform: skew(-20deg);
}

.dotted {
  border-bottom: 1px dashed black;
}

footer {
  padding: 2em 0;
  text-align: center;
}

footer img {
  display: block;
  margin: 0.5rem auto;
}

footer span:nth-child(3) {
  color: #777777;
}

footer span:nth-child(3) a {
  color: inherit;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--fg);
}

#nprogress::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
}
