.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: visible;
  z-index: 2;
  font-size: 17px;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header :global(a) {
  color: var(--verde);
  font-weight: 500;
}

.header :hover {
  color: var(--indent);
}

.header :global(a.active) {
  color: var(--ctc);
}

.announcement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 20px;
}

.announcement a {
  color: var(--verde);
  text-decoration: underline;
}

.announcementLink {
  display: inline-block;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding-left: 5px;
  padding-right: 15px;
  background: transparent;
  transition: transform 0.125s ease-in;
  position: relative;
  z-index: 3;
}

.navHidden {
  transform: translateY(-100%);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  opacity: 0.8;
  margin-left: 12px;
}

.logo:hover {
  opacity: 1;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height, or 150% */

  text-align: center;

  /* CTC Brand Dark Green */

  color: var(--verde);
  padding: 8px 16px;
}

@media (max-width: 800px) {
  .name {
    display: none;
  }
}
