.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  transition: ease-in top 0.125s;
  z-index: 1;
  font-size: 17px;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header :global(a) {
  color: #166132;
  font-weight: 500;
}

.header :hover {
  color: var(--accents-1);
}

.header :global(a.active) {
  color: var(--accents-1);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  opacity: 0.8;
  margin-left: 12px;
}

.logo:hover {
  opacity: 1;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height, or 150% */

  text-align: center;

  /* CTC Brand Dark Green */

  color: #166132;
  padding: 8px 16px;
}

@media (max-width: 800px) {
  .name {
    display: none;
  }
}
