.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: var(--ctc);
  width: 100%;
  margin-bottom: 32px;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 12px;

  background: var(--indent);
  border-radius: 16px;
  color: var(--gray);
  margin: 20% auto 0px;
  font-weight: 700;
  font-size: 14px;
}

.alertLink {
  margin-left: 6px;
  color: var(--verde);
  cursor: pointer;
}

.title {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.06em;
  color: #f4f1f0;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px auto 0px auto;
  text-align: center;
}

.subtitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  margin: 32px auto;
  text-align: center;
  max-width: 30ch;
  color: var(--verde);
}

.buttons {
  margin: 32px auto;
}

.primarybutton {
  padding: 12px 20px;
  background: var(--gray);
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--accents-2);
  cursor: pointer;
}

.primarybutton:hover {
  color: var(--ctc);
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explanation > p {
  width: min(100%, 55ch);
  padding: 0 2rem;
  background: var(--bg);
  margin: auto;
  margin-top: 32px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  /* or 36px */

  letter-spacing: -0.01em;

  /* "Black" */

  color: var(--accents-2);
}

@media (max-width: 800px) {
  .alert {
    font-weight: 400;
    font-size: 0.6em;
    margin-top: 50%;
  }

  .title {
    font-size: 2em;
    line-height: 2em;
    margin-top: 0;
  }

  .subtitle {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0;
  }

  .buttons {
    margin-top: 0;
  }

  .explanation > p {
    font-weight: 700;
    letter-spacing: -1px;
  }
}
