.layout {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

@media (max-width: 900px) {
  .layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}
