.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 4px;
}

.item {
  min-height: 160px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.item:hover {
  filter: saturate(100%);
  cursor: pointer;
  transition: all 300ms ease;
}

.pfp {
  min-height: 160px;
}

.name {
  margin: 12px auto 0 auto;
  text-align: center;
}

.role {
  text-align: center;
}
