.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 4px;
}

.item {
  min-height: 160px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pfp {
  min-height: 160px;
}

.name {
}

.role {
}
