.card {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.index {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  margin-right: 20px;
  color: var(--indent);
}

.text {
  padding-top: 20px;
}
